<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h3>Users</h3>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
         <a href="/adduser" type="button" class="btn btn-info align-self-center"><i class="fa fa-plus"></i>Add User</a>
    </div>
  </div>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col" class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td>
        <a href="/viewuser/{{this.id}}" type="button" class="btn btn-info btn-small"><i class="fa fa-eye"></i></a>
        <a href="/edituser/{{this.id}}" type="button" class="btn btn-secondary btn-small"><i class="fa fa-pen"></i></a>
        <a href="/{{this.id}}" type="button" class="btn btn-danger btn-small"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>


